[submodule "proposal/bib"]
	path = proposal/bib
	url = http://github.com/jimioke/references.git
[submodule "review/bib"]
	path = review/bib
	url = https://github.com/jimioke/references.git
[submodule "network/bib"]
	path = network/bib
	url = https://github.com/jimioke/references.git
[submodule "bib"]
	path = bib
	url = https://github.com/jimioke/references.git
